* {
  box-sizing: border-box;
}
:root {
  --font-heading: Sen, sans-serif;
  --primary: #ffb900;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* Common */
a {
  text-decoration: none;
}
.main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
.btn {
  display: inline-block;
  text-align: center;
  padding: 0 16px;
  line-height: 50px;
  min-width: 118px;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
  background: #171100;
  border-radius: 999px;
}
.btn:hover {
  opacity: 0.9;
}

.heading {
  color: #171100;
  font-family: var(--font-heading);
  font-weight: 700;
}
/* Header */
.header {
  background: #fffcf4;
}
.header.fixed {
  position: sticky;
  top: -28px;
  z-index: 1;
}
.header .body {
  display: flex;
  align-items: center;
  padding: 36px 0 8px;
}
.nav {
  margin-left: auto;
}
.nav ul {
  display: flex;
}

.nav a {
  color: #5f5b53;
  text-align: center;
  font-family: Poppins;
  font-size: 1.6rem;
  padding: 8px 21px;
  position: relative;
}
.nav a::after {
  content: "";
  position: absolute;
  left: 21px;
  bottom: 6px;
  display: inline-block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  width: 12px;
  height: 2px;
  background-color: #171100;
}
.nav a:hover::after {
  visibility: visible;
  opacity: 1;
}
.nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: black;
}
.header .btn-sign-up {
  min-width: 144px;
}
.header .action {
  margin-left: 49px;
}
/* Hero left */
.hero {
  padding: 56px 0 65px;
  background: #fffcf4;
}
.hero .body {
  display: flex;
}
.hero .media-block {
  position: relative;
  width: 48%;
}

.hero .media-block .img {
  width: 470px;
  height: 685px;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}
.hero-summary {
  width: 270px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0;
  bottom: 48px;
  padding: 28px 24px;
}
.hero-summary .item {
  display: flex;
  align-items: center;
}
.hero-summary .item + .item {
  margin-top: 22px;
}
.hero-summary .item:nth-of-type(2) .icon {
  background-color: #fcefff;
}
.hero-summary .item:nth-of-type(3) .icon {
  background-color: #ebeaff;
}
.hero-summary .icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff9e8;
}
.hero-summary .info {
  margin-left: 16px;
}
.hero-summary .label {
  color: #5f5b53;
  font-size: 14px;
  font-weight: 400;
}
.hero-summary .title {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
}
/* Hero right */
.hero .content-block {
  width: 52%;
  padding: 64px 0 0 130px;
}
.hero .heading {
  font-size: 58px;
  line-height: 68px; /* 117.241% */
  letter-spacing: -1.16px;
}
.hero .desc {
  margin: 22px 0;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}
.hero .cta-group {
  display: flex;
  align-items: center;
  margin: 38px 0 48px;
}
.hero .btn-cta-group {
  background: var(--primary);
  min-width: 180px;
  line-height: 64px;
}
.hero .watch-video {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  gap: 14px;
  margin-left: 28px;
  cursor: pointer;
}
.hero .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.07);
}
.hero .watch-video > span {
  color: #171100;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
}
.hero .content-block .stats {
  margin-top: -14px;
}
.hero .content-block .stats > strong {
  color: #171100;
  font-family: Sen;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 122.727% */
  padding-right: 13px;
}
.hero .content-block .stats > strong:nth-of-type(2) {
  margin-left: 20px;
}

/* Popular */
.popular {
  padding: 200px 0;
}

.popular .heading {
  font-size: 3.8rem;
  line-height: 48px; /* 126.316% */
  letter-spacing: -0.76px;
  margin-bottom: 16px;
}
.popular .desc {
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.7; /* 166.667% */
  width: 458px;
}
.popular .courses-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .courses-actions {
  display: flex;
  width: 100px;

  justify-content: space-between;
}
.popular .nav-btn {
  border: 1px var(--primary) solid;
  background: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popular .next {
  background: var(--primary);
}
.popular .product-box {
  margin-top: 55px;
  display: flex;
  justify-content: space-between;
}
.popular .product-card {
  width: 370px;
  height: 466px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
}
.popular .product-card .product-desc {
  margin: 16px 22px 22px;
}

.popular .product-card .product-img {
  width: 370px;
  height: 278px;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}
.product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.popular .product-heading {
  color: #171100;
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.7; /* 166.667% */
}
.popular .evaluate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}
.popular .rating {
  color: #fea31b;
  font-family: Poppins;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}
.popular .product-card .desc {
  width: 326px;
  color: #5f5b53;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
}
.popular .product-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}
.popular .btn-first-price {
  background-color: var(--primary);
}

/* Feedback */
.feedback {
  background: #2e2100;
}
.feedback .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feedback .feedback-media-left {
  margin: 96px 135px;
  width: 14%;
}
.feedback .feedback-avt {
  width: 72px;
  height: 72px;
  object-fit: cover;
  border-radius: 50%;
}
.feedback .name-feedback {
  color: #f7f7f7;
  font-family: Sen;
  font-size: 24px;
  line-height: 34px; /* 141.667% */
}
.feedback .desc-feedback {
  color: #bfbcb2;
  font-size: 14px;
  line-height: 1.85; /* 185.714% */
  margin: 4px 0 28px;
}
.feedback .feedback-text-right {
  display: flex;
  width: 66%;
  top: 96px;
}

.feedback .feedback-text-right p {
  color: #fff;
  font-family: Poppins;
  font-size: 26px;
  font-style: italic;
  font-weight: 400;
  line-height: 40px; /* 153.846% */
  width: 740px;
}
